In [9]:
import pandas as pd

In [35]:
df = pd.read_csv('../../raw/tingkat-pengangguran-terbuka/2024.csv', skiprows=3)
df

              Unnamed: 0  Februari  Agustus Tahunan
0                   ACEH      5.56     5.75       -
1         SUMATERA UTARA      5.10     5.60       -
2         SUMATERA BARAT      5.79     5.75       -
3                   RIAU      3.85     3.70       -
4                  JAMBI      4.45     4.48       -
5       SUMATERA SELATAN      3.97     3.86       -
6               BENGKULU      3.17     3.11       -
7                LAMPUNG      4.12     4.19       -
8   KEP. BANGKA BELITUNG      3.85     4.63       -
9              KEP. RIAU      6.94     6.39       -
10           DKI JAKARTA      6.03     6.21       -
11            JAWA BARAT      6.91     6.75       -
12           JAWA TENGAH      4.39     4.78       -
13         DI YOGYAKARTA      3.24     3.48       -
14            JAWA TIMUR      3.74     4.19       -
15                BANTEN      7.02     6.68       -
16                  BALI      1.87     1.79       -
17   NUSA TENGGARA BARAT      3.30     2.73       -
18   NUSA TENGGARA TIMUR      3.17     3.02       -
19      KALIMANTAN BARAT      4.20     4.86       -
20     KALIMANTAN TENGAH      3.67     4.01       -
21    KALIMANTAN SELATAN      3.89     4.20       -
22      KALIMANTAN TIMUR      5.75     5.14       -
23      KALIMANTAN UTARA      4.01     3.90       -
24        SULAWESI UTARA      5.98     5.85       -
25       SULAWESI TENGAH      3.15     2.94       -
26      SULAWESI SELATAN      4.90     4.19       -
27     SULAWESI TENGGARA      3.22     3.09       -
28             GORONTALO      3.05     3.13       -
29        SULAWESI BARAT      3.02     2.68       -
30                MALUKU      5.96     6.11       -
31          MALUKU UTARA      4.16     4.03       -
32           PAPUA BARAT      4.31     4.13       -
33      PAPUA BARAT DAYA      6.02     6.48       -
34                 PAPUA      5.81     6.48       -
35         PAPUA SELATAN      4.75     4.05       -
36          PAPUA TENGAH      2.49     2.75       -
37      PAPUA PEGUNUNGAN      1.18     1.32       -
38             INDONESIA      4.82     4.91       -